<p id="notice"><%= notice %></p>

<p>
  <b>Condition:</b>
  <%= @session.condition %>
  
  <% @session.rounds.each do |r| %>
  	<%= render r %>
  <% end %>
  
  <% @session.users.each do |u| %>
  	<%= render u %>
  <%end%>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
