<p id="notice"><%= notice %></p>

<p>
  <b>Condition:</b>
  <%= @session.condition %>
  
  <% @session.rounds.each do |r| %>
  	<%= r.id %>
  	<% r.projects.each do |p| %>
  		<%= p.id %>
  	<% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
