<div class="row">
  <div class="span10" id="donation-results">
    <% if @projects.count > 0 %>
      <h3>Projects created this round:</h3>      
      <br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td><h4>Project</h4></td>
            <td><h4>Popularity</h4></td>
            <td><h4>Contributions</h4></td>  
            <td><h4>Funding</h4></td>        
            <td><h4>Status</h4></td>  
            <td><h4>You Donated</h4></td>  
            <td><h4>Your Payoff</h4></td>   
           </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.popularity %></td>              
              <td><%= project.total_contributions %> / <%= project.goal_amount %></td>        
              <td>
                <div class="progress <%= "progress-success" if project.funded %>">
                  <div class="bar" style="width: <%= (project.total_contributions.to_f / project.goal_amount) * 100 %>%;"></div>
                  <%= project.total_contributions %> / <%= project.goal_amount %>
                </div>
              </td>
              <td>
                <% if project.funded %>
                  <h4>Funded</h4>
                <% else %>
                  Not Funded
                <% end %>
              </td>
              <td>
                <% if project.get_contribution(@user) %>
                  <%= project.get_contribution(@user) %>
                <% else %>
                  0
                 <% end %>
              </td>
              <td>
                <h4><%= current_user.get_payoff(project.name.downcase, @current_round) %> </h4>
              </td>
             </tr>                                       
          <% end %>
        </tbody>
      </table> 
      <br>                                             
    <% else %>
      <div class="hero-unit">
        <h3>There were no projects created for your group in this round!</h3>
      </div>
      <br>
    <% end %>    
  </div>

</div>   
