<div id="container">	
	<div class="row">
   	<div class="span12">

			<div class="page-header">
				<h1>Round <%= @current_round.number %> - Summary: Donor</h1>
			</div>      

			<% if @current_round.round_type == "PRACTICE" %>
				<div class="hero-unit">
					<p>This round is a Practice Round and does not count towards your final return for this experiment.</p>
				</div>
			<% end %>
			
			<% if @projects.count > 0 %>
			
				<h3>Projects created this round:</h3>      
				<br>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td><h4>Project</h4></td>
							<td><h4>Contributions</h4></td>  
							<td><h4>Funding</h4></td>        
							<td><h4>Status</h4></td>  
							<td><h4>You Donated</h4></td>  
							<td><h4>Your Earnings</h4></td>   
						 </tr>
					</thead>
					<tbody>
						<% @projects.each do |project| %>
							<tr>
								<td><%= project.name %></td>
								<td><%= project.total_contributions %> / <%= project.goal_amount %></td>        
								<td>
									<div class="progress <%= "progress-success" if project.funded %>">
									  <div class="bar" style="width: <%= (project.total_contributions.to_f / project.goal_amount) * 100 %>%;"></div>
										<%= project.total_contributions %> / <%= project.goal_amount %>
									</div>
								</td>
								<td>
									<% if project.funded %>
										<h4>Funded</h4>
									<% else %>
										Not Funded
									<% end %>
								</td>
								<td>
									<% if project.get_contribution(@user) %>
										<%= project.get_contribution(@user) %>
									<% else %>
									 	0
								   <% end %>
								</td>
								<td>
									<% if project.funded? %>
										<!--<h4><%= project.calculate_payout(@user, @preference, false) %></h4>-->
										<h4><%= current_user.get_payoff(project.name.downcase) %></h4>
									<% else %> 
										<!--<% if current_experiment.return_credits %>
											<% if project.get_contribution(@user) %>
									   		<h4><%= project.get_contribution(@user) %></h4>
											<% else %>
												<h4>0</h4>
											<% end %>
										<% else %>
											0
										<% end %>-->
										<h4>0</h4>
									<% end %>
								</td>
							 </tr>                                       
						<% end %>
					</tbody>
				</table> 
			  	<br>                                             
			
			<% else %>
			
				<div class="hero-unit">
					<h3>There were no projects created for your group in this round!</h3>
				</div>
				<br>
			
			<% end %>
		
 			<h3>Your Return:</h3> 
			<br>  	 
			<table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<td>1. Credits not donated to projects: </td>
						<td><strong><%= @preference.credits_not_donated %></strong></td> 
					</tr>
					<tr>
						<td>2. Earnings from successful projects: </td>
						<td><strong><%= @preference.total_return_from_projects %></strong></td> 
					</tr>
					<% if current_experiment.return_credits %>      
					<tr>
						<td>3. Credits returned for unsuccessful projects: </td>
						<td><strong><%= @preference.credits_to_be_returned %></strong></td> 
					</tr>									        			
					<% end %>
					<tr>
						<td><h3>Total earnings for this round: </h3></td>
						<td><h3><%= @preference.total_return %></h3></td> 
					</tr>					
			   </tbody>
			</table>

		   <br>
			<h3>Hints:</h3>
			<br>
			
			<% if current_experiment.return_credits %>
				<p> - Your payout is calculated as follows: <strong>(Credits not donated to projects + Earnings from successful projects + Returned credits from not funded projects.)</strong></p> 
			<% else %>
				<p> - Your payout is calculated as follows: <strong>(Credits not donated to projects + Earnings from successful projects.)</strong></p> 			
			<% end %>
			<br>
			
			<div class="form-actions">
				<% if @current_round.last_round? %>
					<%= link_to "Experiment Summary", experiment_summary_path(@current_experiment), :class => 'btn-success btn-large pull-right' %>
				<% else %>
					<%= link_to "Ready for Next Round", round_waiting_path(@next_round), :class => 'btn-success btn-large pull-right' %>  
				<% end %>
			</div>     
		</div>
	</div>   
</div>			