<div id="container">	
	<div class="row">
   	<div class="span9">
			<div class="page-header">
			  	<h2>History - Experiment #<%= @experiment.id %> - Round #<%= @round.number %></h2>
			</div>
			<br>

			<% @round.groups.each do |group| %>   
				<h3>Group: <%= group.name %> - Projects Summary</h3>
				<br>
				
				<table class="table table-striped table-bordered table-condensed">      
					<thead>
						<tr>
							<td><h4>Project</h4></td>
							<td><h4>Popularity</h4></td>
							<td><h4>Donors</h4></td>     
							<td><h4>Contributions</h4></td>  
							<td><h4>Funding</h4></td>        
							<td><h4>Status</h4></td>  
						</tr>
				 	</thead>
					<tbody>
						<% group.projects.each do |project| %>
							<tr>
								<td><%= project.name %></td>
								<td><%= project.popularity %></td>       				
								<td><%= project.number_donors %></td>
								<td><%= project.total_contributions %> / <%= project.goal_amount %></td>        
								<td>
									<div class="progress <%= "progress-success" if project.funded %>">
									  <div class="bar" style="width: <%= (project.total_contributions.to_f / project.goal_amount) * 100 %>%;"></div>
										<%= project.total_contributions %> / <%= project.goal_amount %>
									</div>
								</td>
								<td>
									<% if project.funded %>
										<h4>Funded</h4>
									<% else %>
										Not Funded
									<% end %>
								</td>    
							</tr>
						<% end %>
					</tbody>
				</table>       
				<br> 
			<% end %>     
			<br>			                                                               
			
			<div class="form-actions">
				<%= link_to "Return to Experiment History", experiment_history_summary_path(@experiment), :class => "btn-info btn-large pull-right" %>
			</div>
		</div>
		<div class="span3">
			<%= render "round_history_sidebar" %>  			
		</div>   
	</div>
</div>