
<div id="container">	
	<%= render :partial => "donatur_summary_results" %> 	
	<div class="row">
   	<div class="span9">
			<div class="page-header">
			  	<h2>Part B: Contribute to Projects</h2>
			</div>

			<%= form_tag(contributions_submit_path, :id => "contributions-form") do %>

				<% if @projects.count > 0 %>     

					<h4>Please allocate credits to the available projects:</h4>
					<br>

					<table class="table">
						<thead>
							<tr>
								<td><h3>Project</h3></td>
								<td><h3>Goal</h3></td>
								<td><h3>Remaining Credits</h3></td>
								<td><h3>Your Contributions</h3></td>															
							</tr>
						</thead>
						<tbody>
							<% @projects.each_with_index do |project, i| %>

									<tr>
										<td><%= project.name %></td>
										<td><%= project.goal_amount %> credits</td>
										<td class="<%= "remaining_credits_#{i}"%>" id="<%="remaining_credits_#{i}" %>" >
											<% if project.get_contribution(@user) %>
											  <%= MAX_PROJECT_DONATION - project.get_contribution(@user) %>
											<% else %>
											  <%= MAX_PROJECT_DONATION %>
											<% end %>
										</td>
										<td>
											<% if project.get_contribution(@user) %>
											  <%= number_field_tag "amount_#{i}", nil, :placeholder => '0', :min => 0, :max => (MAX_PROJECT_DONATION - project.get_contribution(@user)), :id => "contribution_#{i}", :class => 'contribution-field' %><span style = "color:'red';" id=<%= "errmsg_#{i}" %> ></span><br>
											<% else %>
											  <%= number_field_tag "amount_#{i}", nil, :placeholder => '0', :min => 0, :max => MAX_PROJECT_DONATION, :id => "contribution_#{i}", :class => 'contribution-field' %><span id=<%= "errmsg_#{i}" %> ></span><br>
											<% end %>
								    		<%= hidden_field_tag "project_id_#{i}", project.id %>
										</td>
									</tr>						
             
							<% end %>                    
						</tbody>				
					</table>

		         <!--<br>-->
<!--					<h3>Hints:</h3>
					<br>
					<p> - Contributions must be positive.</p>
					<p> - Total contributed amount cannot be more than your allowed credits.</p>
					<p> - You do not need to allocate all of your credits to projects.</p>
					<p> - "Your Payoff" is the amount you will receive if the project is successfully funded.</p>  -->  
					
				<% else %>                
				
					<h3>No projects have been created in your group this round!</h3> 
					<br>
					<h4>Click "Submit" to continue.</h4>
				
				<% end %>
				
		    	<%= hidden_field_tag "current_round_id", @current_round.id %>
 
				<div class="form-actions">
			    	<%= submit_tag :submit, :id => "submit-button", :value => "Submit", :class => 'btn btn-large btn-success pull-right', :onclick => 'form.submit(); this.disabled=true;' %>
			  	</div>
		
		</div> 
		<div class="span3">
			<%= render "countdown_timer_sidebar" %>  

		</div>
	</div>   
</div>

<script type='text/javascript'>
	$(document).ready(function() {
		// start live countdown
		function startCountDown() {
			$.ajax({
				url: "<%= countdown_path(@current_round) %>",
				dataType: "json"
			}).done(function( data ) {
				document.getElementById("last-call").innerHTML = "";
				if (data.count === 0)  {
					location.reload();
					
				} else {
					document.getElementById("timer").innerHTML = data.count;
					setTimeout (function() { countDown(data.count - 1); }, 1000);					
				}
				
			});
		}
		
		//Continue Live countdown and disable submit button when the timer gets to 0
		function countDown(count) {
			if (count > 0) 
				{
				document.getElementById("timer").innerHTML = count;
				setTimeout (function() { countDown(count - 1); }, 1000);
				}
				else if (count == 0) 
				{
					$("#submit-button").prop("disabled",true);
					document.getElementById("timing-message").innerHTML = "The round has finished";
					location.reload(); 
				}
		}
		
		
		
		// update results
		function updateResults(){
			$.ajax({
				url: "<%= update_donation_results_path(@current_round) %>",
				dataType: "html"
			}).done(function( data ) {
				document.getElementById("donation-results").innerHTML = data;
				if(parseInt(document.getElementById("timer").innerHTML, 10) > <%= FINAL_DONATION_PERIOD_SECONDS %>) {
					setTimeout (function() { updateResults(); }, 1000);
				}
				else {
					document.getElementById("last-call").innerHTML = "Last chance to donate";
				}				
			});
		}

		startCountDown();		
		updateResults();
	});
</script>

<script type='text/javascript'>
	$(document).ready(function () {
		<% @current_group.projects.each_with_index do |project, i| %>
		<%= "$('#contribution_#{i}').keypress(function(e)" %>
			{
			if (e.which != 8 && e.which != 0 && e.which != 13 && (e.which < 48 || e.which > 57)){
				<%= "$('#errmsg_#{i}').html('Digits only').show().delay(1000).fadeOut(1000)" %>;
				return false;
				}
			var letter = String.fromCharCode(e.which);
			if <%= "($('#contribution_#{i}').val()+letter" %> > <%= "parseInt($('#remaining_credits_#{i}').html()))" %> {
				<%= "$('#errmsg_#{i}').html('Too many').show().delay(1000).fadeOut(1000)" %>;
				return false;
			}
			});
		
		
		<% end %>
		
	});
</script>



<% end %>

 
