<script type="text/javascript">
$(document).ready(function() {
    $.Placeholder.init();
});
</script>

<p id="notice"><%= notice %></p>

<script type="text/javascript">  
var count =61
var redirect="/contributions/submit?expired=1&current_round_id=<%=@current_round.id%>"  
var stop = false
function countDown(){  
	if (stop){return}
	
	 if (count <=0){
	  document.getElementById("timer").innerHTML = "<h2 class=\"alert alert-error\">This round has ended! Redirecting...</h2>"
	  $(".submit").hide(0);  
	  window.location = redirect;  
	 }else{  
	  count--;  
	  document.getElementById("timer").innerHTML = "This round will end in "+count+" seconds."  
	  setTimeout("countDown()", 1000)  
	 }
}  

function validateform() {
			// var total = $('#contribution_0').val() + $('#contribution_1').val() + $('#contribution_2').val() + $('#contribution_3').val();
			var total = parseInt($('#contribution_0').val()) + parseInt($('#contribution_1').val()) + parseInt($('#contribution_2').val()) + parseInt($('#contribution_3').val());
			if (total > 150) {
				$("#notice").html("<h2 class=\"alert alert-error\">Your contributions cannont total more than 150 credits.<a class=\"close\" data-dismiss=\"alert\"><h2>x</h2></a></h2>")
				return false;
			} else 
				stop = true;
			  $(".submit").hide(0);
			  $("#loading").show(0);
			  document.getElementById("timer").innerHTML = "<h2 class=\"alert alert-success\">Answers submitted. Please wait.</h2>"
			  
			  form.submit();
	}
</script>

<script type='text/javascript'>
$(document).ready(function() {
    var credits = 150
    $('#credits').text(credits)
    $('#contribution_0').keyup(function() {
        $('#credits').text(credits - $('#contribution_0').val() - $('#contribution_1').val() - $('#contribution_2').val() - $('#contribution_3').val());
        if(credits - $('#contribution_0').val() - $('#contribution_1').val() - $('#contribution_2').val() - $('#contribution_3').val() < 0)
        {
	        $('#credits').css("color", "red");
        }
        else
        {
	        $('#credits').css("color", "black");
        }
    });
    $('#contribution_1').keyup(function() {
        $('#credits').text(credits - $('#contribution_0').val() - $('#contribution_1').val() - $('#contribution_2').val() - $('#contribution_3').val());
        if(credits - $('#contribution_0').val() - $('#contribution_1').val() - $('#contribution_2').val() - $('#contribution_3').val() < 0)
        {
	        $('#credits').css("color", "red");
        }
        else
        {
	        $('#credits').css("color", "black");
        }
    });
    $('#contribution_2').keyup(function() {
        $('#credits').text(credits - $('#contribution_0').val() - $('#contribution_1').val() - $('#contribution_2').val() - $('#contribution_3').val());
        if(credits - $('#contribution_0').val() - $('#contribution_1').val() - $('#contribution_2').val() - $('#contribution_3').val() < 0)
        {
	        $('#credits').css("color", "red");
        }
        else
        {
	        $('#credits').css("color", "black");
        }
    });
    $('#contribution_3').keyup(function() {
        $('#credits').text(credits - $('#contribution_0').val() - $('#contribution_1').val() - $('#contribution_2').val() - $('#contribution_3').val());
        if(credits - $('#contribution_0').val() - $('#contribution_1').val() - $('#contribution_2').val() - $('#contribution_3').val() < 0)
        {
	        $('#credits').css("color", "red");
        }
        else
        {
	        $('#credits').css("color", "black");
        }
    });
    
}); 
</script>

<%= render @preferences if @preferences %>
<p>&nbsp;</p>
<%= form_tag "/contributions/submit" , :id => 'form' do %>

<div class="row">
  <div class="span2">
    <h3>Project Name</h3>
  </div>
  
  <div class="span4">
    <h3>Funding Status</h3>
  </div>
  
  <div class="span1">
    &nbsp;
  </div>
  
  <div class="span5">
    <h3>Contributions</h3>
  </div>
</div>

<div class="row">
  <p><% @current_round.projects.each_with_index do |p,counter| %>
  
  <div class="span2">
    <%= p.name %>
  </div>
  
  <div class="span4">
    <div class="progress">
      <div class="bar" style="width: <%= (p.start_amount.to_f / p.goal_amount) * 100 %>%;"></div>
    </div>
  </div>
  
  <div class="span1">
    <%= p.start_amount %> / <%= p.goal_amount %>
  </div>
  
  <div class="span5">
    <%#= number_field_tag "amount_#{counter}", nil, :placeholder => '0', :in => 1...150, :id => "contribution_#{counter}" %>
    <%= text_field_tag "amount_#{counter}", nil, :placeholder => '0', :in => 1...150, :id => "contribution_#{counter}" %><br>
    <%= hidden_field_tag "project_id_#{counter}", p.id %>
  </div>
  
<%end%>

<div class="row">
  <div class="span3 offset8">
    <h2>&nbsp; &nbsp;Credits: <span id="credits"></span>​</h2>
  </div>
</div>
<p>&nbsp;</p>
<div class="row submit">
  <div class="span2">
    <%= hidden_field_tag "current_round_id", @current_round.id %>
    &nbsp; &nbsp; &nbsp;<%= button_to_function "Submit", "validateform()", :class => 'btn-success btn-large' %>
  </div>  
</div> 
	<div id="loading">
		<h3><%= image_tag 'loading.gif' %> Your answers have been submitted, please wait...</h3>
	</div> 
<% end %>
</div>



<div id="loading">
	<h3><%= image_tag 'loading.gif' %> Your answers have been submitted, please wait...</h3>
</div>

<style>
	#loading {
		display: none;
	}
</style>
