<p id="notice"><%= notice %></p>
<p><% @round.projects.each do |p| %>
		<%= p.name %><br>
		Goal: <%= p.goal_amount %><br>
		Current: <%= p.current_amount %><br>
		<%= link_to "Contribute to this proj", new_contributions_path %><br>
		<br>
	<%end%>
</p>
