<p id="notice"><%= notice %></p>
<h2>Pref: <%= render @preferences %></h2>

<%= form_tag "/contributions/submit" do %>
	<p><% @round.projects.each_with_index do |p,counter| %>
			<%= p.name %><br>
			Goal: <%= p.goal_amount %><br>
			Current: <%= p.current_amount %><br>
			
				<%= number_field_tag "amount_#{counter}", 0 , :in => 0..1000 %><br>
				<%= hidden_field_tag "project_id_#{counter}", p.id %>
				
			<br>
			<%end%>
			<%= hidden_field_tag "current_round_id", @round.id %>
			<%= submit_tag "Submit" %>
<% end %>
</p>
