<div id="container">	
	<div class="row">
   	<div class="span9">
			<div class="page-header">
			  	<h2>Part B: Contribute to Projects</h2>
			</div>
			<h4>Please allocate credits to the available projects:</h4>
			<br>

			<%= form_tag(contributions_submit_path) do %>

				<table class="table">
					<thead>
						<tr>
							<td><h3>Project</h3></td>
							<td><h3>Goal</h3></td>
							<td><h3>Your Reward</h3></td>
							<td><h3>Your Contributions</h3></td>															
						</tr>
					</thead>
					<tbody>
						<% @projects.each_with_index do |project, i| %>
							<tr>
								<td><%= project.name %></td>
								<td><%= project.goal_amount %> credits</td>
								<td>
                        <% if project.popularity == "Niche" %>
                        	<% if project.special_user_1 == @user.id || project.special_user_2 == @user.id %>
									 	<%= project.special_return_amount %>
								   <% else %>
										<%= project.standard_return_amount %>
									<% end %>
                        <% elsif project.popularity == "Popular" %>
									<%= project.standard_return_amount %>
								<% end %>
								</td>
								<td>
									<%= text_field_tag "amount_#{i}", nil, :placeholder => '0', :in => 1...150, :id => "contribution_#{i}", :class => 'contribution-field' %><br>
						    		<%= hidden_field_tag "project_id_#{i}", project.id %>
								</td>
							</tr>						
						<% end %>                    
					</tbody>				
				</table>

	         <br>
				<h3>Hints:</h3>
				<br>
				<p> - Contributions must be positive.</p>
				<p> - Total contributed amount cannot be more than your allowed credits.</p>
				<p> - You do not need to allocate all of your credits to projects.</p>
				
		    	<%= hidden_field_tag "current_round_id", @current_round.id %>
 
				<div class="form-actions">
			    	<%= submit_tag :submit, :id => "submit-button", :value => "Submit", :class => 'btn btn-large btn-success pull-right' %>
			  	</div>
		
		</div> 
		<div class="span3">
			<%= render "countdown_timer_sidebar" %>  
			<div align="center">
				<div class="page-header">
				  	<h2>Credits</h2>
				</div>

				<h3>You have <span id="credits"></span> credits remaining.</h3>
				<br>  
			</div>			
		</div>
	</div>   
</div>
        

<script>
	function countDown (count) {
   	if (count > 0) 
		{
    		document.getElementById("timer").innerHTML = count;
    		setTimeout (function() { countDown(count - 1); }, 1000);
  		}
  		else if (count == 0) 
		{
 			document.getElementById("submit-button").click(); 
		}
 	}
	countDown(<%= ROUND_PART_B_COUNTDOWN_SECONDS %>);
</script>          


<script type='text/javascript'>
	$(document).ready(function() {
   	var credits = 150
    	$('#credits').text(credits)
	 	<% number_of_projects = @current_group.projects.count %>

		<% @current_group.projects.each_with_index do |project, i| %>
    		<%= "$('#contribution_#{i}').keyup(function()" %> 
			{
    			var remaining_credits = (credits<% number_of_projects.times do |i| %> - <%= "$('#contribution_#{i}').val()" %><% end %>)
       		$('#credits').text(remaining_credits);
	       	if(remaining_credits < 0)
	       	{
		        	$('#credits').css("color", "red");
	       	}
	       	else
	       	{
		        	$('#credits').css("color", "black");
	       	}
   		});		
	   <% end %>
	}); 
</script>   

<% end %>   