<div id="container">	
	<div class="row">
   	<div class="span9">
			<div class="page-header">
			  	<h2>Part A: Create Projects</h2>
			</div>
			<h4>Please choose the number of projects you would like to create:</h4>
			<br>     
			                         
			<%= form_tag(create_projects_path) do %>  
					
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td><h4>Project</h4></td>
							<td><h4>Value</h4></td>
							<td><h4>Popularity</h4></td>
						 </tr>
					</thead>
					<tbody>
						<%= fields_for :projects do |builder| %>  
							<tr>
								<td>Project #TBA</td>
								<td>
									<label class="radio inline">  
										<%= builder.radio_button :value, "High", :checked => true %>    
										High     
									</label> 
									<label class="radio inline">  
										<%= builder.radio_button :value, "Low" %>    
										Low
									</label>
								</td>
								<td>
									<label class="radio inline">  
										<%= builder.radio_button :popularity, "Popular", :checked => true %>
										Popular
									</label> 
									<label class="radio inline">
										<%= builder.radio_button :popularity, "Niche" %>
										Niche
									<label class="radio inline">
								</td> 
							 </tr>                                       
						<% end %>
					</tbody>
				</table>  

			

	         <br>
				<h3>Hints:</h3>
				<br>
				<p><b> - High Value Projects: </b>These projects are requesting <%= HIGH_VALUE_PROJECT_GOAL %> credits in funding.</p>
				<p><b> - Low Value Projects: </b>These projects are requesting <%= LOW_VALUE_PROJECT_GOAL %> credits in funding.</p> 
				<p><b> - Popular Projects: </b>If successfully funded, these projects will return the same, moderate amount to each of it's donors.</p> 
				<p><b> - Niche Projects: </b>If successfully funded, these projects will return a large amount randomly to 2 of it's donors, and a lower amount to the remainder.</p> 
			   <br>  		
			                  
				<div class="form-actions">
			    	<%= submit_tag :submit, :id => "submit-button", :value => "Submit", :class => 'btn btn-large btn-success pull-right' %>
			  	</div>
			<% end %>

		</div>
		<div class="span3">
			<%= render "countdown_timer_sidebar" %>
			<div align="center">
				<div class="page-header">
				  	<h2>Credits</h2>
				</div>

				<h3>You have <span id="credits"></span> credits remaining.</h3>
				<br>  
			</div>
  		</div>
	</div>
</div>  


<script>
	function countDown (count) {
   	if (count > 0) 
		{
    		document.getElementById("timer").innerHTML = count;
    		setTimeout (function() { countDown(count - 1); }, 1000);
  		}
  		else if (count == 0) 
		{
 			document.getElementById("next-button").click(); 
		}
 	}
	countDown(<%= ROUND_PART_A1_COUNTDOWN_SECONDS %>);
</script> 
      

<script type='text/javascript'>
	$(document).ready(function() {
		var credits = <%= AMOUNT_CREATOR_CAN_SPEND_PER_ROUND %>
	 	$('#credits').text(credits)
	});  

	$("input[name='numberOfProjects']").change(function() {     
		var credits = <%= AMOUNT_CREATOR_CAN_SPEND_PER_ROUND %>
	 	$('#credits').text(credits)
	   	

		<% @number_of_project_options.times do |i| %>
      	<% if i == 0 %>                     
				if ($("input[name='numberOfProjects']:checked").val() == <%= i %>)
				{
					$('#credits').text(credits);  
				}    
			<% else %>
				else if ($("input[name='numberOfProjects']:checked").val() == <%= i %>)
				{
					var remaining_credits = (credits - (<%= COST_TO_CREATE_PROJECT %> * <%= i %>))   
					$('#credits').text(remaining_credits); 
				}			
			<% end %>		
		<% end %>
				
	}); 
</script>		
