
<div id="container">	
	<%= render :partial => "donatur_summary_results" %> 	
	<div class="row">
   	<div class="span9">
			<div class="page-header">
			  	<h2>Part B: Contribute to Projects</h2>
			</div>

			<%= form_tag(contributions_submit_path, :id => "contributions-form") do %>

				<% if @projects.count > 0 %>     

					<h4>Please allocate credits to the available projects:</h4>
					<br>

					<table class="table">
						<thead>
							<tr>
								<td><h3>Project</h3></td>
								<td><h3>Goal</h3></td>
								<td><h3>Remaining Credits</h3></td>
								<td><h3>Your Contributions</h3></td>															
							</tr>
						</thead>
						<tbody>
							<% @projects.each_with_index do |project, i| %>

									<tr>
										<td><%= project.name %></td>
										<td><%= project.goal_amount %> credits</td>
										<td>
											<!--<% if project.funded? %>
												<%= project.calculate_payout(@user, @preference) %>
											<% else %> 
												<%= MAX_PROJECT_DONATION %>
											<% end %>-->
											<% if project.get_contribution(@user) %>
											  <%= MAX_PROJECT_DONATION - project.get_contribution(@user) %>
											<% else %>
											  <%= MAX_PROJECT_DONATION %>
											<% end %>
										</td>
										<td>
											<%= text_field_tag "amount_#{i}", nil, :placeholder => '0', :in => 1...150, :id => "contribution_#{i}", :class => 'contribution-field' %><br>
								    		<%= hidden_field_tag "project_id_#{i}", project.id %>
										</td>
									</tr>						
             
							<% end %>                    
						</tbody>				
					</table>

		         <br>
					<h3>Hints:</h3>
					<br>
					<p> - Contributions must be positive.</p>
					<p> - Total contributed amount cannot be more than your allowed credits.</p>
					<p> - You do not need to allocate all of your credits to projects.</p>
					<p> - "Your Payoff" is the amount you will receive if the project is successfully funded.</p>    
					
				<% else %>                
				
					<h3>No projects have been created in your group this round!</h3> 
					<br>
					<h4>Click "Submit" to continue.</h4>
				
				<% end %>
				
		    	<%= hidden_field_tag "current_round_id", @current_round.id %>
 
				<div class="form-actions">
			    	<%= submit_tag :submit, :id => "submit-button", :value => "Submit", :class => 'btn btn-large btn-success pull-right', :onclick => 'form.submit(); this.disabled=true;' %>
			  	</div>
		
		</div> 
		<div class="span3">
			<%= render "countdown_timer_sidebar" %>  
			<div align="center">
				<div class="page-header">
				  	<h2>Credits</h2>
				</div>

				<h3>You have <span id="credits"></span> credits remaining.</h3>
				<br>  
			</div>			
		</div>
	</div>   
</div>
        
<script type='text/javascript'>
	$(document).ready(function() {
		// start live countdown
		function startCountDown() {
			$.ajax({
				url: "<%= countdown_path(@current_round) %>",
				dataType: "json"
			}).done(function( data ) {
				document.getElementById("last-call").innerHTML = "";
				if (data.count === 0)  {
					location.reload();
					
				} else {
					document.getElementById("timer").innerHTML = data.count;
					setTimeout (function() { countDown(data.count - 1); }, 1000);					
				}
				
			});
		}
		
		//Continue Live countdown and disable submit button when the timer gets to 0
		function countDown(count) {
			if (count > 0) 
				{
				document.getElementById("timer").innerHTML = count;
				setTimeout (function() { countDown(count - 1); }, 1000);
				}
				else if (count == 0) 
				{
					$("#submit-button").prop("disabled",true);
					location.reload(); 
				}
		}
		
		
		
		// update results
		function updateResults(){
			$.ajax({
				url: "<%= update_donation_results_path(@current_round) %>",
				dataType: "html"
			}).done(function( data ) {
				document.getElementById("donation-results").innerHTML = data;
				if(parseInt(document.getElementById("timer").innerHTML, 10) > <%= FINAL_DONATION_PERIOD_SECONDS %>) {
					setTimeout (function() { updateResults(); }, 1000);
				}
				else {
					document.getElementById("last-call").innerHTML = "Last chance to donate";
				}				
			});
		}

		startCountDown();		
		updateResults();
	});
</script>

<script type='text/javascript'>
	$(document).ready(function() {
   	var credits = <%= @user_donate_amount %>
    	$('#credits').text(credits)
	 	<% number_of_projects = @current_group.projects.count %>

		<% @current_group.projects.each_with_index do |project, i| %>
    		<%= "$('#contribution_#{i}').keyup(function()" %> 
			{
    			var remaining_credits = (credits<% number_of_projects.times do |i| %> - <%= "$('#contribution_#{i}').val()" %><% end %>)
       		$('#credits').text(remaining_credits);
	       	if(remaining_credits < 0)
	       	{
		        	$('#credits').css("color", "red");
	       	}
	       	else
	       	{
		        	$('#credits').css("color", "black");
	       	}
   		});		
	   <% end %>
	}); 
</script>   

<% end %>   