<div class="page-header">
	<h1>Summary: Round <%= @current_round.number %></h1>
</div>

<h3>Projects created in this round:</h3>      
<br>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<td><h4>Project</h4></td>
			<td><h4>Popularity</h4></td>
			<td><h4>Donors</h4></td>     
			<td><h4>Contributions</h4></td>  
			<td><h4>Funding</h4></td>        
			<td><h4>Status</h4></td>   
		 </tr>
	</thead>
	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= project.name %></td>
				<td><%= project.popularity %></td>       				
				<td><%= project.number_donors %></td>
				<td><%= project.total_contributions %> / <%= project.goal_amount %></td>        
				<td>
					<div class="progress">
					  <div class="bar" style="width: <%= (project.total_contributions.to_f / project.goal_amount) * 100 %>%;"></div>
					</div>
				</td>
				<td>
					<% if project.funded %>
						Funded!
					<% else %>
						Not Funded
					<% end %>
				</td>
			 </tr>                                       
		<% end %>
	</tbody>
</table>                            


<div class="form-actions">
	<% if @current_round.last_round? %>
		<%= link_to "Experiment Summary", experiment_summary_waiting_path(@current_experiment), :class => 'btn-success btn-large pull-right' %>
	<% else %>
		<%= link_to "Ready for Next Round", round_waiting_path(@next_round), :class => 'btn-success btn-large pull-right' %>  
	<% end %>
</div>