<p>Hey <%= @user.name %>, hows it going? It is the <%= @current_round.id %> round.</p>
<%= render 'stats' %>
<p>
	<%= link_to "Click Here to go to the next round", @next_round unless last_round?(@current_round) %>
	<%= link_to "Click Here to go to the Experiment Summary", experiment_summary_path(@current_round.experiment) if last_round?(@current_round)%>
</p>

