<tr class="fields">
	<td>
		<label class="radio inline">  
			<%= f.radio_button :value, "High", :input_html => { :class => 'value' } %>    
			<%= CREATOR_EARNINGS_HIGH_VALUE_PROJECT %> 
		</label> 
		<label class="radio inline">  
			<%= f.radio_button :value, "Low" %>    
			<%= CREATOR_EARNINGS_LOW_VALUE_PROJECT %>
		</label>
	</td>
	<td>
		<label class="radio inline">  
			<%= f.radio_button :popularity, "Popular" %>
			Popular
		</label> 
		<label class="radio inline">
			<%= f.radio_button :popularity, "Niche" %>
			Niche
		<label class="radio inline">
	</td>
	<td><%= f.link_to_remove "Remove", :class => "btn btn-mini btn-inverse", :onclick => "remove_project();" %></td>
</tr>