<div id="container">	
	<div class="row">
   	<div class="span9">
			<div class="page-header">
			  	<h2>Part A-2: Summary of Created Projects</h2>
			</div>

			<h4>The projects you have chosen to create for this round are as follows:</h4>
			<br>
			
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<td><h4>Name</h4></td>
						<td><h4>Value (credits)</h4></td>
						<td><h4>Popularity</h4></td>
					</tr>
 			  	</thead>
				<tbody>
				   <% @projects.each do |project| %>
					 	<tr>
							<td><%= project.name %></td>
							<% if project.value == "High" %>
								<td><%= CREATOR_EARNINGS_HIGH_VALUE_PROJECT %> </td>
							<% elsif project.value == "Low" %>
								<td><%= CREATOR_EARNINGS_LOW_VALUE_PROJECT %> </td>							
							<% end %>
							<td><%= project.popularity %></td>
						</tr>
					<% end %> 
	 			</tbody>
			</table>   
			<br>
			
			<div class="form-actions">
				<%= link_to "Next", summary_waiting_path(@current_round), :id => "next-button", :class => "btn-success btn-large pull-right" %>		
		  	</div>

		</div>
		<div class="span3">
			<%= render "rounds/countdown_timer_sidebar" %>
  		</div>
	</div>
</div>	   	


<script type='text/javascript'>  
	function countDown (count) {
   	if (count > 0) 
		{
    		document.getElementById("timer").innerHTML = count;
    		setTimeout (function() { countDown(count - 1); }, 1000);
  		}
  		else if (count == 0) 
		{
 			document.getElementById("next-button").click(); 
		}
 	}
	countDown(<%= ROUND_PART_A2_COUNTDOWN_SECONDS %>);
</script>			
