

<p id="notice"><%= notice %></p>
<script type="text/javascript">

function validateform() {
			var total = parseInt($('#question_1A').val()) + parseInt($('#question_1B').val());
			if (total > 150) {
				$("#notice").html("<h2 class=\"alert alert-error\">Your contributions for question 1 cannont total more than 150 credits.<a class=\"close\" data-dismiss=\"alert\"><h2>x</h2></a></h2>")
				return false;
			} else form.submit();
	}

$(document).ready(function() {
    var credits = 150
    $('#credits').text(credits)
    $('#question_1A').keyup(function() {
        $('#credits').text(credits - $('#question_1A').val() - $('#question_1B').val());
    });
    $('#question_1B').keyup(function() {
        $('#credits').text(credits - $('#question_1A').val() - $('#question_1B').val());
    });
}); 

</script>

<div id="question1">
<%= form_tag "/questions/submit", :id => 'form' do %>
	<h3>Question 1 <small>Extra Credit</small></h3>
	<br>
	<strong>You alone will determine the funding of the projects below.</strong>
	<br><br>
	<p>You have 150 credits to allocate to one of the two projects, each of which needs 150 credits to be completed. Project Red needs 300 credits total, but already has 150 seed credits. Project Blue needs 150 credits total, and has no seed credits. If project Red is funded, you will recieve 150 credits. If project Blue is funded you will recieve 200 credits.</p>

	<p><strong><em>Credits earned in this question will go into your credit bank.</strong></em></p>
	
	<div class="row">
  <div class="span6">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><h4>Project Name</h4></th>
          <th><h4>Project Payout</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
    	  <th>Red</th>
    	  <th>150</th>
        </tr>
        <tr>
	      <th>Blue</th>
	      <th>200</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
	
	<h2>Credits: <span id="credits"></span></h2>
	<p>&nbsp;</p>
	
	<div class="row">
  <div class="span2">
    <h3>Project Name</h3>
    <br>
  </div>
  
  <div class="span4">
    <h3>Funding Status</h3>
    <br>
  </div>
  
  <div class="span1">
    &nbsp;
  </div>
  
  <div class="span2">
		<h3>Contributions</h3>
		<br>
	</div>
	  
</div>

	<div class="row">
	  <div class="span2">
	    	Red
	  </div>
	  
	  <div class="span4">
	    <div class="progress">
	      <div class="bar" style="width: 50%;"></div>
	    </div>
	  </div>
	  
	  <div class="span1">
	    150/300
	  </div>
	  
	  <div class="span5">
	    	<p>Project Red
		<%= text_field_tag "question_1A", nil,  :placeholder => '0', :id => 'question_1A', :presence => true %>
		</p>
		</div>
	  
	</div>  
	  
	 <div class="row">
	  <div class="span2">
	    	Blue
	  </div>
	  
	  <div class="span2">
	    <div class="progress">
	      <div class="bar" style="width: 0%;"></div>
	    </div>
	  </div>
	  
	  <div class="span1 offset2">
	    0/150
	  </div>
	  
	  <div class="span5">
	    	<p>Project Red
		<%= text_field_tag "question_1B", nil, :placeholder => '0', :id => 'question_1B', :presence => true %>
		</p>
		</div>
</div>

	<br>
	<p><a class="btn btn-success btn-large" id="nextq" href="#">Next Question</a></p>
</div>

<div id="question2" style="display: none">	
	<h3>Question 2</h3>
	<br>
	<p>Assume you are faced with the following scenario during the course of the experiment:</p>
	<div class="well">
	<div class="row">
  <div class="span2">
    <h3>Project Name</h3>
  </div>
  
  <div class="span4">
    <h3>Funding Status</h3>
  </div>
  
  <div class="span1">
    &nbsp;
  </div>
</div>

<% @projects.each do |project| %>
	<div class="row">
	  <div class="span2">
	    	<%= project.name %>
	  </div>
	  
	  <div class="span4">
	    <div class="progress">
	      <div class="bar" style="width: <%= (project.start_amount.to_f / project.goal_amount) * 100 %>%;"></div>
	    </div>
	  </div>
	  
	  <div class="span1">
	    <%= project.start_amount %> / <%= project.goal_amount %>
	  </div>
	  
	</div>  
<% end %>
	</div>
	
<div class="row">
	<div class="span12">
		<p>Please rate the riskiness associated with an investment in each project. (1=not risky, 7=extremely risky)</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<% @projects.each_with_index do |p,i| %>
			<%= p.name %><br>
			<%= radio_button_tag "question_2#{i}", 1 %> 1
			<%= radio_button_tag "question_2#{i}", 2 %> 2
			<%= radio_button_tag "question_2#{i}", 3 %> 3
			<%= radio_button_tag "question_2#{i}", 4 , true %> 4
			<%= radio_button_tag "question_2#{i}", 5 %> 5
			<%= radio_button_tag "question_2#{i}", 6 %> 6
			<%= radio_button_tag "question_2#{i}", 7 %> 7
			<br><br>
		<% end %>
	</div>
</div>

<%#= submit_tag "Submit", :class => 'btn-success btn-large' %>
<%= button_to_function "Submit", "validateform()", :class => 'btn-success btn-large' %>
<% end %>
</div>

<script>
  $("#nextq").click(function () {
    $("#question2").show(0);
    $("#question1").hide(0);
  });
</script>