<%= form_tag "/questions/submit" do %>
	<h3>Question 1</h3>
	<p>
	You alone will determine the funding of the projects below. You have 150 credits to allocate to one of the two projects, each of which needs 150 credits to be completed. Project Red needs 300 credits total, but we have contributed 150 seed credits, so it only has 150 credits left to be funded. Project Blue needs 150 credits total, and has no seed credits.
	</p>

	<p><b>Credits earned in this question will go into your credit bank.</b></p>
	
	<div class="well">
	<div class="row">
  <div class="span2">
    <h3>Project Name</h3>
  </div>
  
  <div class="span4">
    <h3>Funding Status</h3>
  </div>
  
  <div class="span1">
    &nbsp;
  </div>
</div>

	<div class="row">
	  <div class="span2">
	    	Red
	  </div>
	  
	  <div class="span4">
	    <div class="progress">
	      <div class="bar" style="width: 50%;"></div>
	    </div>
	  </div>
	  
	  <div class="span1">
	    150/300
	  </div>
	  
	  <div class="span2">
	  	Payout 150
	  </div>
	  
	</div>  
	  
	 <div class="row">
	  <div class="span2">
	    	Blue
	  </div>
	  
	  <div class="span2">
	    <div class="progress">
	      <div class="bar" style="width: 0%;"></div>
	    </div>
	  </div>
	  
	  <div class="span1 offset2">
	    0/150
	  </div>
	  
	  <div class="span2">
	  	Payout 200
	  </div>
	  
	</div>  
</div>

	
	<p>How much would you give to each project?</p>
	<p>Project Red
	<%= text_field_tag "question_1A", '0', :in => 0...150 %>
	</p>
		<p>Project Blue
	<%= text_field_tag "question_1B", '0', :in => 0...150 %>
	</p>
	
	<h3>Question 2</h3>
	<p>Assume you are faced with the following scenario during the course of the experiment:</p>
	<div class="well">
	<div class="row">
  <div class="span2">
    <h3>Project Name</h3>
  </div>
  
  <div class="span4">
    <h3>Funding Status</h3>
  </div>
  
  <div class="span1">
    &nbsp;
  </div>
</div>

<% @projects.each do |project| %>
	<div class="row">
	  <div class="span2">
	    	<%= project.name %>
	  </div>
	  
	  <div class="span4">
	    <div class="progress">
	      <div class="bar" style="width: <%= (project.start_amount.to_f / project.goal_amount) * 100 %>%;"></div>
	    </div>
	  </div>
	  
	  <div class="span1">
	    <%= project.start_amount %> / <%= project.goal_amount %>
	  </div>
	  
	</div>  
<% end %>
	</div>
	
<div class="row">
	<div class="span12">
		<p>Please rate the riskiness associated with an investment in each project. (1=riskless, 7=extremely risky)</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<% @projects.each_with_index do |p,i| %>
			<%= p.name %><br>
			<%= radio_button_tag "question_2#{i}", 1 %> 1
			<%= radio_button_tag "question_2#{i}", 2 %> 2
			<%= radio_button_tag "question_2#{i}", 3 %> 3
			<%= radio_button_tag "question_2#{i}", 4 , true %> 4
			<%= radio_button_tag "question_2#{i}", 5 %> 5
			<%= radio_button_tag "question_2#{i}", 6 %> 6
			<%= radio_button_tag "question_2#{i}", 7 %> 7
			<br><br>
		<% end %>
	</div>
</div>

<%= submit_tag "Submit", :class => 'btn-success btn-large' %>
<% end %>
