<h2>Crowdfunding Experiment - Project Creator</h2>  
<br>

<p>In this study, you will play the role of a Project Creator on a crowdfunding site. Crowdfunding sites are websites where people can post projects and ask for small donations from a large number of people over the Internet.</p>

<p>In this simulation, you will be able to post projects to a simulated crowdfunding site where <strong><%= NUMBER_OF_DONORS_PER_GROUP %></strong> donors can decide to donate to your project. Each donor has <strong><%= AMOUNT_DONOR_CAN_DONATE_PER_ROUND %></strong> credits that he or she can choose to donate. Donors can donate all credits, some or no credits.</p>
                                                                                                                            
<p>You are given a budget of <strong><%= AMOUNT_CREATOR_CAN_SPEND_PER_ROUND %></strong> credits. To post a project to the site costs <strong><%= COST_TO_CREATE_PROJECT %></strong> credits. You can post as many projects as you have a budget for.</p>

<p>If you choose to post a project, there are two choices you must make about what type of project to post. The first choice is the risk level. You can create a high risk project which requires <strong><%= CREATOR_EARNINGS_HIGH_VALUE_PROJECT %></strong> credits in donations, or a low risk project which requires <strong><%= CREATOR_EARNINGS_LOW_VALUE_PROJECT %></strong> credits in donations. If a high risk project is completed, you earn <strong><%= CREATOR_EARNINGS_HIGH_VALUE_PROJECT %></strong> credits. If a low risk project is completed, you earn <strong><%= CREATOR_EARNINGS_LOW_VALUE_PROJECT %></strong> credits.</p>

<p>The second choice you make is the popularity of the project. You can create popular projects or niche projects. To incentivize donations to your projects, donors earn a payoff when a project is completed. If you choose to create a popular project, all donors earn the same payoff if the project is completed, and this payoff is moderately sized. If you create a niche project, two donors will earn a very high payoff if the project is completed, and two other donors will earn only a small payoff. The table below describes these payoffs in more detail:</p>   

<table class="table table-bordered">
	<tbody>
		<tr>
			<td></td>
			<td><strong>High Risk</strong></td>
			<td><strong>Low Risk</strong></td>
		</tr>			
		<tr>
			<td><strong>Popular</strong></td>
			<td>All donors earn <%= STANDARD_RETURN_AMOUNT_HIGH_VALUE_POPULAR %> credits</td>
			<td>All donors earn <%= STANDARD_RETURN_AMOUNT_LOW_VALUE_POPULAR %> credits</td>
		</tr>
		<tr>
			<td><strong>Niche</strong></td>
			<td><%= NUMBER_SPECIAL_DONORS_PER_GROUP %> donors earn <%= SPECIAL_RETURN_AMOUNT_HIGH_VALUE_NICHE %> credits <br><%= NUMBER_STANDARD_DONORS_PER_GROUP %> donors earn <%= STANDARD_RETURN_AMOUNT_HIGH_VALUE_NICHE %> credits</td>
			<td><%= NUMBER_SPECIAL_DONORS_PER_GROUP %> donors earn <%= SPECIAL_RETURN_AMOUNT_LOW_VALUE_NICHE %> credits <br><%= NUMBER_STANDARD_DONORS_PER_GROUP %> donors earn <%= STANDARD_RETURN_AMOUNT_LOW_VALUE_NICHE %> credits</td>
		</tr>		
	</tbody>
</table>                       
<br>   

<h3>Payout Calculation:</h3>
<br>

<p>If you create a project and it does not receive enough donations to be completed, the creation fee is kept by the website. If a project receives excess donations, those donations are also kept by t\he website and not returned to you.</p>

<strong><p>Your total payout for the simulation is: <strong>(Credits not spent creating projects + Credits awarded for successful projects.)</strong>.</p></strong>     

<br>

<h3>Additional Instructions:</h3>
<br>      
<p> - You will play <strong><%= NUMBER_OF_PRACTICE_ROUNDS %></strong> practice rounds and <strong><%= NUMBER_OF_LIVE_ROUNDS %></strong> live rounds of this simulation. In each round, you will be randomly rematched with <strong><%= NUMBER_OF_DONORS_PER_GROUP %></strong> other donors and <strong><%= NUMBER_OF_CREATORS_PER_GROUP - 1 %></strong> other creator, so in every round you are playing with a different set of people. You will not know who else you are playing with.</p>    

<p> - In each round, the credits you earn will be added to a running total. At the end of the experiment, your credits will be exchanged for cash at a rate of (<strong><%= CREDITS_TO_DOLLAR_RATE %> credits for $1</strong>).</p>