<h3><%= project.name %></h3>

Goal: <%= project.goal_amount %>
Given Amount: <%= project.current_amount %>

<%= "Funded!" if project.goal_amount <= project.current_amount %>
<%= "Not Funded. :(" if project.goal_amount > project.current_amount %>