<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start ammount</th>
    <th>Goal ammount</th>
    <th>Current amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.start_ammount %></td>
    <td><%= project.goal_ammount %></td>
    <td><%= project.current_amount %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
