<% if !@experiment.finished %>
	<meta http-equiv="refresh" content="6" />
<% end %>
<%= link_to 'Back to experiments', experiments_path %>
<div class="page-header">
<h1>Experiment <%= @experiment.id %></h1>
</div>
<br>

<% if @experiment.finsihed_calc %>
<h2>Experiment Summary</h2>
	<table class="table table-striped table-bordered">
	<thead><tr><td>User</td><td>Status</td><td>Payout (credits)</td><td>Payout (dollars)</td></tr></thead>
	<% @experiment.users.each do |u| %>
		<tr>
		<td><%= u.name %></td>
		<td>
		<% if u.question_1A.nil? %>
			<span class="badge badge-warning">Answering Questions</span></td>
		<% else %>
			<span class="badge badge-success">Finsihed</span>
			<td><%= u.payout %></td>
			<td><%= to_dollars(u.payout) %></td>
		<% end %>
		</td>
		</tr>
	<% end %>
	</table>
	<br>
<% end %>

<% NUMBER_OF_ROUNDS.times do |i| %>
<%# 0.times do %>
<% 2.times do |j|%>

<% if j==0 %>
<% r = @roundsA[i] %>
<% else %>
<% r = @roundsB[i] %>
<% end %>
	
	<% if r.number > @experiment.current_round_number %>
		<% next %>
	<% end %>
	<h2>Round <%= r.number %> <small>Group <%= r.group.name %></small></h2>
	<% if r.finished %>
		<h3>Round Complete <small>Id <%= r.id %></small></h3>
		<div class="row">
		  <div class="span2">
		    <h3>Project Name</h3>
		  </div>
		  
		  <div class="span4">
		    <h3>Funding Status</h3>
		  </div>
		  
		  <div class="span6">
		    &nbsp;
		  </div>
		</div>
		<p>&nbsp;</p>
		
		<% r.projects.each do |p| %>
			<%#= render :partial => 'projects/stats', :locals => { :project => p, :admin => true }%>
		<% end %>
		
		<table class="table table-striped table-bordered table-condensed">
		<thead><tr>
			<td>Flag</td>
			<td>User</td>
			<td>A Payout</td>
			<td>B Payout</td>
			<td>C Payout</td>
			<td>D Payout</td>
			<td>Payout (for this round)</td>
			</tr></thead>
		<% r.users.each do |u| %>
			<% @pref = Preferences.where(:user_id => u.id, :round_id => r.id).first %>
		 <tr>
		 	<td>
		 		<% if @pref.flag %>
		 			<%= link_to "flagged", '#', :class => "label label-info" %>
		 		<% else %>
		 			<%= link_to "flag", flag_user_path(@pref) %>
		 		<% end %>
		 	</td>
		 	<td><%= u.name %></td>
		 	<td><%= @pref.a_payout %></td>
		 	<td><%= @pref.b_payout %></td>
		 	<td><%= @pref.c_payout %></td>
		 	<td><%= @pref.d_payout %></td>
		 	<td><%= @pref.round_payout %></td>
		 </tr>
		<% end %>
		</table>
		
	<% elsif r.started %>
		<h3>Round In Progress <small>Id <%= r.id %></small></h3>
		
		<% r.users.each do |u| %>
			<tr>
			<td><%= u.name %></td>
			<td>
			<% if Preferences.where(:user_id => u.id, :round_id => r.id).first.finished_and_ready %>
				<span class="badge badge-success">Finished</span>
			<% else %>
				<span class="badge badge-warning">Still Picking</span>
			<% end %>
			</td>
			</tr>
		<% end %>
		<br>
		
	<% else %>
		<h3>Round Not Started</h3>
		
		<% r.users.each do |u| %>
			<tr>
			<td><%= u.name %></td>
			<td>
			<% if Preferences.where(:user_id => u.id, :round_id => r.id).first.ready_to_start %>
				<span class="badge badge-success">Ready for Next Round</span>
			<% else %>
				<span class="badge badge-warning">Not Ready</span>
			<% end %>
			</td>
			</tr>
		<% end %>
	
	<% end %>
	<br>
<% end %>

<% end %>