<% if !@experiment.finished %>
	<meta http-equiv="refresh" content="3" />
<% end %>
<h1>Experiment <%= @experiment.id %></h1>

<% @experiment.rounds.each do |r| %>
	<%# next if r.number > @experiment.current_round.number %>
	<h2>Round <%= r.number %></h2>
	<% if r.finished %>
		<h3>Round Complete</h3>
		<%= render :partial => 'rounds/stats', :locals => { :round => r } %>
		
	<% elsif r.started %>
		<h3>Round In Progress</h3>
		
		<% r.users.each do |u| %>
			<tr>
			<td><%= u.name %></td>
			<td>
			<% if Preferences.where(:user_id => u.id, :round_id => r.id).first.finished_and_ready %>
				<span class="badge badge-success">Finished and Ready for Summary</span>
			<% else %>
				<span class="badge badge-warning">Still Picking</span>
			<% end %>
			</td>
			</tr>
		<% end %>
		
		
	<% else %>
		<h3>Round Not Started</h3>
		
		<% r.users.each do |u| %>
			<tr>
			<td><%= u.name %></td>
			<td>
			<% if Preferences.where(:user_id => u.id, :round_id => r.id).first.ready_to_start %>
				<span class="badge badge-success">Ready for Next Round</span>
			<% else %>
				<span class="badge badge-warning">Not Ready</span>
			<% end %>
			</td>
			</tr>
		<% end %>
		
	<% end %>
	<br>
<% end %>

<% if @experiment.finsihed_calc %>
<h2>Experiment Summary</h2>
	<table class="table table-striped table-bordered">
	<thead><tr><td>User</td><td>Status</td><td>Payout</td></tr></thead>
	<% @experiment.users.each do |u| %>
		<tr>
		<td><%= u.name %></td>
		<td>
		<% if u.response_one.nil? or u.response_two.nil? %>
			<span class="badge badge-warning">Answering Questions</span></td>
		<% else %>
			<span class="badge badge-success">Finsihed</span> <td><%= u.payout %></td>
		<% end %>
		</td>
		</tr>
	<% end %>
	</table>

<% end %>