<h2>Final Payout: </h2>
<table class="table">
<thead>
	<tr>
	<td>Round Number</td>
	<td>Round Payout</td>
	</tr>
</thead>

<% @preferences.each_with_index do |p,i| %>
	<tr>
		<td><%= i + 1 %><%#= Round.find(p.round_id).number %></td>
		<td><%= p.round_payout  %></td>
	</tr>
<% end %>
<tr>
	<td>Extra Credit</td>
	<td><%= current_user.questions_payout %></td>
</tr>
</table>

<h3>Total: <%= @user.payout unless @user.payout.nil?%><%= "0" if @user.payout.nil? %> credits or <%= to_dollars(@user.payout) %> dollars.</h3>

<p>&nbsp;</p>
<p><%= link_to "Continue to short survey", "https://bitlab.cas.msu.edu/survey/index.php?lang=en&sid=11363&token=#{@user.token}" , :class => 'btn-success btn-large'%></p>