<div class="page-header">
	<h1>Total Payout</h1>
</div>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<td><h4>Round Number</h4></td>
			<td><h4>Round Payout</h4></td>
		</tr>
	</thead>
	<tbody>
		<% @rounds.each do |round| %>
			<tr>
				<td><%= round.number %></td>

			</tr>
		<% end %>
	</tbody>
</table>

<h3><%= @user.payout unless @user.payout.nil?%><%= "0" if @user.payout.nil? %> credits or <%= convert_credits_to_dollars(@user.payout) %> dollars.</h3>

<br>
<div class="pull-right">
	<h4>Next, click below to answer some questions.</h4>
</div>

<div class="form-actions">
	<p><%= link_to "Continue onto Questions", root_path, :class => 'btn-success btn-large pull-right' %></p>
</div>