<h2>Total Payout: </h2>
<table class="table">
<thead>
	<tr>
	<td>Round Number</td>
	<td>Round Payout</td>
	</tr>
</thead>

<% @user.preferences.each_with_index do |p,i| %>
	<tr>
		<td><%= Round.find(p.round_id).number %></td>
		<td><%= p.round_payout %></td>
	</tr>
<% end %>
</table>


<h3><%= @user.payout unless @user.payout.nil?%><%= "0" if @user.payout.nil? %> credits or <%= @user.payout/450 %> dollars.</h3>

<p>&nbsp;</p>
<p><h4>Next, click continue below to ansawer some questions.</h4></p>
<p><%= link_to "Continue", questions_path, :class => 'btn-success btn-large' %></p>