<div id="container">	
	<div class="row">
		<div class="page-header">
			<h2>Experiment Summary:</h2>
		</div>

   	<div class="span6">
			<h4>Congratulations, you have completed the experiment!</h4>
			<br>
			<table class="table table-striped table-bordered table-condensed">
				<tbody>
					<% Round.where(:experiment_id => @experiment).each_with_index do |round, i| %>
						<% if @user.user_type == "Creator" %>
							<% @round_preference = CreatorPreference.where(:user_id => @user, :round_id => round).first %> 								
						<% elsif @user.user_type == "Donor" %>
							<% @round_preference = DonorPreference.where(:user_id => @user, :round_id => round).first %> 				
						<% end %>
						<tr>
							<td>Round <%= (i + 1) %></td>
							<% if round.round_type == "PRACTICE" %>
								<td>Practice</td>
							<% else %>
								<td><%= "#{@round_preference.total_return} credits" if @round_preference.total_return %></td>
							<% end %>
						</tr>
					<% end %>
					<tr>
						<td><h4>Total:</h4></td>
						<td><h4><%= "#{@user.total_return} credits" if @user.total_return %></h4></td>
					</tr>				
				</tbody>
			</table>    
		</div>

		<div class="span6">
			<div class="page-header"> 
				<h3>Details:</h3>
			</div>
			<p> - You are: <strong><%= @user.name %></strong></p>
			<p> - You have played <strong><%= NUMBER_OF_PRACTICE_ROUNDS %></strong> practice rounds</p> 
			<p> - You have played <strong><%= NUMBER_OF_LIVE_ROUNDS %></strong> live rounds</p>
			<p> - Your total return for the experiment is: <strong><%= "#{@user.total_return} credits" if @user.total_return %></strong></p>
			<p> - The exchange rate for this experiment is: <strong>$1</strong> per <strong><%= CREDITS_TO_DOLLAR_RATE %></strong> credits</p>
			<br>
         <div class="hero-unit">
				<h4>Your total return for this experiment is: <strong><%= "$#{@user.total_return_in_dollars}" if @user.total_return_in_dollars %></strong></h4>
			</div>
  		</div>
	</div>
</div> 