<%= form_for(@contribution) do |f| %>
  <% if @contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @contribution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ammount %><br />
    <%= f.text_field :ammount %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>