<div class="row">
  <div class="span4">
    <h1>Round Payouts</h1>
  </div>
  <div class="span8">
    <h2 id="timer">  
      <script>  
        countDown();  
      </script>  
    </h2>
  </div>
</div>
<br>
<div class="row">
  <div class="span6">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><h4>Project Name</h4></th>
          <th><h4>Project Payout</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
    	  <th><%= @projects.first.name %></th>
    	  <th><%= @preferences.a_payout %></th>
        </tr>
        <tr>
	      <th><%= @projects.second.name %></th>
	      <th><%= @preferences.b_payout %></th>
        </tr>
        <tr>
	      <th><%= @projects.third.name %></th>
	      <th><%= @preferences.c_payout %></th>
        </tr>
        <tr>
	      <th><%= @projects.last.name %></th>
	      <th><%= @preferences.d_payout %></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

