<div id="container">	
	<div class="row">
   	<div class="span12">
			<div class="page-header">
			  	<h2>Crowdfunding Experiment - Survey</h2>
			</div>                                  
 
   		<%= simple_form_for(@survey, :html => {:class => 'form-horizontal' }) do |f| %> 

				<table class="table table-striped table-bordered table-condensed">
					<tbody>
				 		<tr>
							<td class="span1"><h4>1. </h4></td>
							<td class="span7"><%= Q1_TEXT %></td>
							<td class="span3"><%= f.input :q1, 
												label: false, 
												as: :select, 
												collection: 15..80, 
												:include_blank => true, 
												:selected => @survey.q1, 
												:error => false %></td>
							<td class="span2"><%= f.error :q1 %></td>
						</tr>
				 		<tr> 
							<td><h4>2. </h4></td>
							<td><%= Q2_TEXT %></td>
							<td><%= f.input :q2, 
												label: false, 
												as: :select, 
												:collection => ["Male", "Female"], 
												:include_blank => true, 
												:selected => @survey.q2, 
												:error => false %></td> 
							<td><%= f.error :q2 %></td>												
							
						</tr>
				 		<tr>
							<td><h4>3. </h4></td>					
							<td><%= Q3_TEXT %></td>
							<td><%= f.input :q3, 
												label: false, 
												as: :radio_buttons, 
												:item_wrapper_class => 'inline', 
												:error => false %></td>
							<td><%= f.error :q3 %></td>
						</tr>	 
				 		<tr>                      
							<td><h4>4. </h4></td>					
							<td><%= Q4_TEXT %></td>
							<td><%= f.input :q4, 
												label: false, 
												as: :select, 
												:collection => SURVEY_RISK_SELECTION, 
												:include_blank => true, 
												:selected => @survey.q4, 
												:error => false %></td> 
							<td><%= f.error :q4 %></td>																								
						</tr>							  						
				 		<tr>   
							<td><h4>5. </h4></td>					
							<td><%= Q5_TEXT %></td>
							<td><%= f.input :q5, 
												label: false, 
												as: :radio_buttons, 
												:item_wrapper_class => 'inline', 
												:error => false %></td>
							<td><%= f.error :q5 %></td>																								  
						</tr>							  						
				 		<tr>               
							<td><h4>6. </h4></td>					
							<td><%= Q6_TEXT %></td>
							<td><%= f.input :q6, 
												label: false, 
												as: :radio_buttons, 
												:item_wrapper_class => 'inline', 
												:error => false %></td> 
							<td><%= f.error :q6 %></td>																								 
						</tr>
						
						<tr>
							<td><h4>7. </h4></td>
							<td><%=Q7_A_TEXT %></td>
							<td><%= f.input :q7_a,
												label: false,
												as: :select,
												:collection => SURVEY_LIKERT,
												:include_blank => true,
												:selected => @survey.q7_a,
												:error => false %></td>
							<td><%= f.error :q7_a %></td>
<!--				 		<tr>                                                    
							<td rowspan="3"><h4>7. </h4></td>					
							<td colspan="3"><%= Q7_TEXT_1 %>	- <strong><%= Q7_TEXT_2 %></strong></td>
						</tr>
				 		<tr>        
							<td><strong>a) </strong><%= Q7_A_TEXT %></td>
							<td><%= f.input :q7_a, 
												label: false, 
												as: :select, 
												:collection => SURVEY_LIKERT, 
												:include_blank => true, 
												:selected => @survey.q7_a,
												:error => false %></td>
							<td><%= f.error :q7_a %></td>																								
						</tr>  				
				 		<tr>
							<td><strong>b) </strong><%= Q7_B_TEXT %></td>
							<td><%= f.input :q7_b, 
												label: false, 
												as: :select, 
												:collection => SURVEY_RISK_SELECTION, 
												:include_blank => true, 
												:selected => @survey.q7_b, 
												:error => false %></td>  
							<td><%= f.error :q7_b %></td>																								
						</tr>-->
				 		<tr>
							<td><h4>8. </h4></td>	 					
							<td><%= Q8_TEXT %></td>
							<td><%= f.input :q8, 
												label: false, 
												as: :radio_buttons, 
												:item_wrapper_class => 'inline', 
												:error => false %></td>
							<td><%= f.error :q8 %></td>																								  
						</tr>
				 		<tr>    
							<td><h4>9. </h4></td>	 					
							<td><%= Q9_TEXT %></td>
							<td><%= f.input :q9, 
												label: false, 
												as: :text, 
												:input_html => { :class => 'survey-text-field' }, 
												:error => false %></td>
							<td class="error"><%= @q9_error %></td>																								
						</tr>
				 		<tr>            
							<td><h4>10. </h4></td>	 					
							<td><%= Q10_TEXT %></td>
							<td><%= f.input :q10, 
												label: false, 
												as: :text, 
												:input_html => { :class => 'survey-text-field' }, 
												:error => false %></td> 
							<td class="error"><%= @q10_error %></td>																								
						</tr> 

						<% if @user.user_type == "Creator" %>  

					 		<tr>    
								<td><h4>11. </h4></td>	 						
								<td><%= Q11_TEXT %></td>
								<td><%= f.input :q11, 
												label: false, 
												as: :select, 
												:collection => SURVEY_RISK_SELECTION, 
												:include_blank => true, 
												:selected => @survey.q11,
												:error => false %></td>
							<td><%= f.error :q11 %></td>																								
							</tr>
					 		<tr>                                                      
								<td rowspan="5"><h4>12. </h4></td>	 						
								<td colspan="3"><%= Q12_TEXT_1 %> - <strong><%= Q12_TEXT_2 %></strong></td>
							</tr>
					 		<tr>              
								<td><strong>a) </strong><%= Q12_A_TEXT %></td>
								<td><%= f.input :q12_a, 
												label: false, 
												as: :select, 
												:collection => SURVEY_RISK_SELECTION, 
												:include_blank => true, 
												:selected => @survey.q12_a, 
												:error => false %></td>
							<td><%= f.error :q12_a %></td>																								
							</tr>																														
					 		<tr> 
								<td><strong>b) </strong><%= Q12_B_TEXT %></td>
								<td><%= f.input :q12_b, 
												label: false, 
												as: :select, 
												:collection => SURVEY_RISK_SELECTION, 
												:include_blank => true, 
												:selected => @survey.q12_b, 
												:error => false %></td>
							<td><%= f.error :q12_b %></td>																																				
							</tr>
					 		<tr>                               
								<td><strong>c) </strong><%= Q12_C_TEXT %></td>
								<td><%= f.input :q12_c, 
												label: false, 
												as: :select, 
												:collection => SURVEY_RISK_SELECTION, 
												:include_blank => true, 
												:selected => @survey.q12_c, 
												:error => false %></td> 
							<td><%= f.error :q12_c %></td>																																				
							</tr>
					 		<tr>           
								<td><strong>d) </strong><%= Q12_D_TEXT %></td>
								<td><%= f.input :q12_d, 
												label: false, 
												as: :select, 
												:collection => SURVEY_RISK_SELECTION, 
												:include_blank => true, 
												:selected => @survey.q12_d, 
												:error => false %></td>  
							<td><%= f.error :q12_d
							 %></td>																																				
							</tr>																		

						<% end %>

				   </tbody>
				</table> 
				
				<%= f.hidden_field :user_type, :value => @user.user_type %>

				<div class="form-actions">
					<%= f.button :submit, :value => "Submit Survey", :class => 'btn btn-large btn-success pull-right' %> 
				</div>

			<% end %>
		
  		</div>
	</div>
</div>                   
