<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span1">
    <%= f.label :name %>
  </div>
  <div class="span3">  
    <%= f.text_field :name %>
  </div>
</div>

<div class="row">
  <div class="span1">
    <%= f.label :password %>
  </div>
  <div class="span3">  
    <%= f.password_field :password %>
  </div>
</div>  

<div class="row">
  <div class="span1 offset1">
    <%= f.submit "Login", :class => 'btn-success' %>
  </div>
</div>  

<% end %>