<!DOCTYPE html>
<html>
	<head>
  		<title>Crowdfunding Experiment</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<body oncontextmenu="return false;">
	</head>

	<body>
		<%= render :partial => "layouts/header" unless params[:header] %> 

		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="notifications" align="center">
						<% flash.each do |name, msg| %>
							<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<%= msg %>
							</div>
						<% end %>
					</div>
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
