<!DOCTYPE html>
<html>
<head>
  <title>CrowdfundingExperiment</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:alert] %>
<div id="flash">
	<div class="alert alert-info" ><a class="close" data-dismiss="alert">x</a><%= flash[:alert]%></div>
</div>
<% end %>
<% if flash[:notice] %>
<div id="flash">
	<div class="alert alert-success"><a class="close" data-dismiss="alert">x</a><%= flash[:notice] %></div>
</div>
<% end %>
<% if flash[:error] %>
<div id="flash">
	<div class="alert alert-error"><a class="close" data-dismiss="alert">x</a><%= flash[:error] %></div>
</div>
<% end %>


<%= yield %>

</body>
</html>
